*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url('../images/contactbg.jpg');
    background-size: cover;
}

#back{
    margin: 1rem 2.5rem;
    width: 9rem;
    height: 2rem;
    border: 0.5px solid black;
    background: rgb(105 105 105);
    border-radius: 4px;
    outline: none;
}

#back:active {
    outline: none;
}
#back:hover{
    background: #3c3c3c;
}

#back a{
    text-decoration: none;
    color: white;
}

.container{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.box1{
    width: 25vw;
    margin: 0 2rem;
}

.box1__title{
    color: white;
    font-family: system-ui;
    font-weight: 400;
    margin: 1rem 0;
}

.box1__information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box1__information__row{
    margin: 1rem 0;
}

.box1__information__row h3{
    display: inline;
    margin-left: 1.5rem;

    font-weight: 400;
    font-size: 1rem;
    color: grey;
}

.box1__information__row p{
    color: rgb(235, 245, 245);
    font-size: 0.9rem;

    margin-top: 1%;
    margin-left:calc(1.5rem + 10px);
}


.box2{
    width: 25vw;
    height: 71vh;
    margin: 0 2rem;
    padding: 2.5rem 2vw;
    background-color: white;
    border-radius: 14px;
}

.box2__title{
    font-weight: 400;
    margin-bottom: 2rem;

}

.box2__inp{
    display: block;
    width: 100%;
    height: 3rem;

    font-size: 1rem;

    margin: 1rem 0;
    padding: 0 0.5rem;
    border: 0.5px solid grey;
    border-radius: 4px;
}

.box2__inp:focus, .box2__inp:active{
    outline: none;
}

#box2__textarea{
    width: 100%;
    height: 10rem;

    font-size: 0.8rem;

    padding: 0.5rem 0.2rem;
}

#submit_btn{
    width: 40%;
    height: 2rem;
    
    color: white;
    background: gray;
    
    margin-top: 0.6rem;
    font-size: 0.8rem;

    border-radius: 4px;
    border: 1px solid gray;
}

